{% extends 'base.html' %}

{% load static %}

{% block title %}Index{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        following: {{ user.get_connections.count }}
        follower: {{ user.get_followers.count }}
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a> | <a href="{% url 'signup' %}">signup</a>
    {% endif %}
    <li><a href="{% url 'makepost' %}">Make post</a></li>

    <div>
        {% for post in object_list %}
            <div>
                <a href="{% url 'profile' post.author.id %}">
                    {% if post.author.profile_pic %}
                        <img src="{{ post.author.profile_pic.url }}">
                    {% else %}
                        <img src="{% static 'images/profile_placeholder.jpg' %}" width="100" height="100">
                    {% endif %}
                    {{ post.author.username }}
                </a>
                <span>
                    {{ post.posted_on|timesince }}
                </span>
                <img src="{{ post.image.url }}" width="200" height="200">
            </div>
        {% endfor %}
    </div>
{% endblock %}